.about {
    padding: 100px 0 110px;
}

.about__title {
    color: #333333;
    text-align: left;
    font-size: 40px;
    font-weight: 700;
}

.about-blocks {
    margin-top: 60px;
    display: flex;
    gap: 134px;
}

.about-blocks__texts {
    width: 636px;
    // height: 550px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.about-blocks__texts-text {
    color: #333333;
    text-align: left;
    font-size: 16px;
}

.about-blocks__texts-ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-left: 17px;
}

.about-blocks__texts-li {
    color: #333333;
    text-align: left;
    vertical-align: text-top;
    font-size: 16px;
}

.about-blocks__videos {
    width: 526px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.about-blocks__videos-video {
    width: 100%;
    height: 350px;
    border-radius: 20px;
}

.about-blocks__videos-request {
    background-color: #5db7de;
    width: 526px;
    height: 170px;
    border-radius: 20px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 38px;
}

.about-blocks__videos-request span {
    color: #ffffff;
    text-align: left;
    font-size: 13px;
    font-weight: 700;
}
.about-blocks__videos-request p {
    color:#ffffff;
text-align:left;
font-size:19px;
font-family:PT Sans;
font-weight:700;
}