.footer {
    width: 100%;
    background-color: #3d348b;
}

.footer-address {
    width: 100%;
    background-color: #6b5fd5;

}

.footer-address__block {
    padding: 25px 0;
    display: flex;
    align-items: center;
    gap: 230.5px;
}

.footer-address__link {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    color: #ffffff;
    text-align: left;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
}
.footer-address__link:hover {
    color: gray;
    transition: 0.4s;
}

.footer-address__links {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}

.footer-items {
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    align-items: flex-start;
    gap: 24px;
}

.footer-items__item {
    width: 306px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.footer-items__item-title {
    color: #ffffff;
    text-align: left;
    font-size: 16px;
    font-weight: 700;
}

.footer-items__item-ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-items__item-li {}

.footer-items__item-link {
    text-decoration: none;
    color: #ffffff;
    text-align: left;
    font-size: 14px;
    transition: 0.4s;

}
.footer-items__item-link:hover {
    color: gray;
    transition: 0.4s;
}

.footer-span {
    padding-bottom: 30px;
    color: #758897;
    text-align: center;
    font-size: 13px;
    font-weight: 700;
}