.footer {
    width: 100%;
    background-color: #3d348b;
}

.footer-address {
    width: 100%;
    background-color: #6b5fd5;

}

.footer-address__block {
    padding: 25px 0;
    display: flex;
    align-items: center;
    gap: 230.5px;
}

.footer-address__link {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    color: #ffffff;
    text-align: left;
    font-size: 16px;
    font-weight: 700;
    td
}

.footer-address__link-logo {}

.footer-address__links {}

.footer-items {}

.footer-items__item {}

.footer-items__item-title {}

.footer-items__item-ul {}

.footer-items__item-li {}

.footer-items__item-link {}

.footer-span {}