.footer {
    width: 100%;
    background-color:#3d348b;
}
.footer-address {
    width: 100%;
    background-color:#6b5fd5;
    
}

.footer-address__block {
}
.footer-address__link {
}
.footer-address__link-logo {
}
.footer-address__links {
}
.footer-items {
}
.footer-items__item {
}
.footer-items__item-title {
}
.footer-items__item-ul {
}
.footer-items__item-li {
}
.footer-items__item-link {
}
.footer-span {
}