@media (max-width: 1024px) {

    .header-nav {
        width: 95%;
        height: 87px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        gap: 21px;
    }
    .header-nav__ul {
        gap: 18px;
    }
    .container {
        width: 95%;
    }
    .home {
        padding: 24px 0;
    }

    .home-services__item {
        background-color: #5db7de;
        width: 207px;
        height: 201px;
        justify-content: space-between;
        g
    }

    .home__blocks {

        display: flex;
        justify-content: space-between;
        align-items: center;

    }
    .home-block {
        width: 358px;
    }
}