@media (max-width: 1024px) {

    .header-nav {
        width: 95%;
        height: 87px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        gap: 21px;
    }
    .header-nav__ul {
        gap: 18px;
    }
    .container {
        width: 95%;
    }
    .home {
        height: 530px;
        padding: 24px 0;
    }

    .home-services__item {
        background-color: #5db7de;
        width: 207px;
        height: 201px;
        justify-content: space-between;
        gap: 0;
    }

    .home__blocks {

        display: flex;
        justify-content: space-between;
        align-items: center;

    }
    .home-block {
        width: 358px;
    }
    .home-block__subtitle {
        width: 322px;
        margin: 10px 0 30px;
        color: #ffffff;
        text-align: left;
        font-size: 16px;
    }

    // services
    .services {
        margin: 70px 0;
    }
    .services-items__item {
        background-color: #3d348b;
        width: 294px;
        height: 214px;
        gap: 0;
        justify-content: space-between;
    }
    .about {
        padding: 0px;
    }
}