.news {
    margin: 150px 0;
}

.news_block {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.news-titleBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.news-titleBlock__title {
    color: #333333;
    font-size: 40px;
    font-weight: 700;
}

.news-titleBlock__btn {
    width: 162px;
    height: 30px;
    display: flex;
    flex-direction: row;
    // justify-content: center;
    align-items: center;
    gap: 15px;
    border: none;
    outline: none;
    cursor: pointer;
    color: #3d348b;
    font-size: 16px;
    font-weight: 700;
    background: none;
}

.news-cards {
    display: flex;
    align-items: flex-start;
    gap24px
}

.news-cards__card {}

.news-cards__card-img {}

.news-cards__card-title {}

.news-cards__card-text {}