.services {
    margin: 150px 0;
}

.services_frames {
    display: flex;
    align-items: flex-start;
    gap: 134px;
}

.services-block {
    width: 306px;
}

.services-block__title {
    color: #333333;
    text-align: left;
    font-size: 40px;
    font-weight: 700;
}

.services-block__ul {}

.services-block__li {}

.services-block__li-link {}

.services-items {}

.services-items__item {}