.services {
    margin: 150px 0;
}
.services_frames {
    display: flex;
    align-items: flex-start;
    gap: 134px;
}
.services-block {
}
.services-block__title {
}
.services-block__ul {
}
.services-block__li {
}
.services-block__li-link {
}
.services-items {
}
.services-items__item {
}